.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#000048;
  }
  
  .login_form {
    width: 30vw;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.247);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
color: #e5f052;
}
  
  .login_form label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: bolder;
  }
  
  .login_form input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #000 !important;
  }
  
  .login_button {
    width: 100px;
    background-color: 
    #e1eb57;
    color: #0f0f0f ;
    padding: 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin: auto;
  }
  
  button:hover {
    background-color:
    #393b2a;
    color:black;
    /* font-weight: bold; */
  }


  

/* loader */

.loader{
    width: 50px;
    height: 50px;
    margin: auto;
    background: #000;
}


/*---------dashboard------------ */

.dashboard{
    /* border:1px solid red; */
    width:100vw;
    height:100vh;
    margin:auto;
    display: flex;
    
}
.dashboard_left{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 60%;
    /* border: 1px solid rgb(235, 48, 48); */
    padding: 5px;

}
.file_box{
  width: 38%;
    /* border: 2px solid green; */
}

.iframe{
    border: 2px solid rgb(28, 28, 31);
     width:95%;
     height:80vh;
     margin: 20px auto;
     border-radius: 12px;
}

/* --------------upload room */


.upload_room{
  border: 1px solid rgb(80, 80, 207);
  width: 80%;
  margin: 100px auto;
  height: 80px;
  background-color: #05054ed2;
  color: aqua;
  padding: 20px;
  border-radius: 12px;
}

/* ---------------------------------- */


@media screen and (max-width: 768px) {
   
  .dashboard{
    /* border: 2px solid rgb(228, 50, 50); */
    display: flex;
    flex-direction: column;
  }
  .file_box{
    width: 100%;
    height: 60vh;
      /* border: 2px solid green; */
  }

  .iframe{
    /* border: 2px solid rgb(28, 28, 31); */
     width:80%;
     height:100%;
     margin: auto;
     border-radius: 12px;
}


.login_form {
    width: 80vw;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.247);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
color: #e5f052;
}

.upload_room{
  border: 1px solid rgb(80, 80, 207);
  width: 100%;
  margin: 100px auto;
  height: 120px;
  background-color: #05054ed2;
  color: aqua;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.upload_room>form>input{
  margin: 10px;
  background-color: #000048;
  /* border: 1px solid red; */
}
.upload_room>Button{
  margin-top: 10px;
}
.dashboard_left{
  box-sizing: border-box;
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  border: 1px solid rgb(235, 48, 48);
  padding: 5px;
  /* contain-intrinsic-block-size:inherit ; */
 padding: 10px;
}
.dashboard>#table{
  width: 90%;
  border: 2px solid black;
}


    
  }
  